<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="#">
          <i class="fas fa-shopping-bag me-2"></i>JustTo
      </a>
      
      <!-- Mobile toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Navbar content -->
      <div class="collapse navbar-collapse" id="navbarContent">
          <!-- Search bar -->
          <form class="d-flex me-auto mx-lg-3 my-2 my-lg-0">
              <div class="input-group">
                  <input class="form-control search-box" type="search" placeholder="Search products..." aria-label="Search">
                  <button class="btn btn-primary search-btn" type="submit">
                      <i class="fas fa-search"></i>
                  </button>
              </div>
          </form>
          
          <!-- Navigation links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/" >Home</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" >Our Products</a>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/ourservices" >Our Services</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/about" >About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contact" >Contact</a>
              </li>
          </ul>
          
          <!-- Icons -->
          <!-- <div class="d-flex">
              <a href="#" class="nav-link position-relative mx-2">
                  <i class="far fa-user fa-lg">5</i>
              </a>
              <a href="#" class="nav-link position-relative mx-2">
                  <i class="far fa-heart fa-lg"></i>
                  <span class="cart-count">3</span>
              </a>
              <a href="#" class="nav-link position-relative mx-2">
                  <i class="fas fa-shopping-cart fa-lg"></i>
                  <span class="cart-count">5</span>
              </a>
          </div> -->
      </div>
  </div>
</nav>