<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="footer bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
          <h5 class="mb-3">JustTo</h5>
          <p>Your favorite online shopping destination now in your pocket.</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/share/19Dv1Nzm71/" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/justtoservice?igsh=OWN2dGswMzNsMGhh" class="text-white me-3"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/justto-services-010a25365?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="me-3 text-white"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://x.com/i/flow/login?redirect_after_login=%2Fjusttoservices" class="text-white"><i class="fas fa-times"></i></a>
          </div>
        </div>
        <div class="col-md-2 mb-4">
          <h5 class="mb-3">Shop</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="text-white-50">All Products</a></li>
            <li class="mb-2"><a href="#" class="text-white-50">Featured</a></li>
            <li class="mb-2"><a href="#" class="text-white-50">New Arrivals</a></li>
            <li class="mb-2"><a href="#" class="text-white-50">Sale Items</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-4">
          <h5 class="mb-3">About</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="text-white-50">Our Story</a></li>
            <li class="mb-2"><a href="#" class="text-white-50">Careers</a></li>
            <li class="mb-2"><a href="#" class="text-white-50">Terms</a></li>
            <li class="mb-2"><a href="#" class="text-white-50">Privacy</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-4">
          <h5 class="mb-3">Stay Updated</h5>
          <p>Subscribe to our newsletter for app updates and special offers.</p>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Your email">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
          <small class="text-white-50">By subscribing you agree to our Privacy Policy</small>
        </div>
      </div>
      <hr class="my-4 bg-secondary">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0">&copy; 2025 JustTo. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <p class="mb-0">
            <a href="#" class="text-white-50 me-3">Terms of Service</a>
            <a href="#" class="text-white-50">Privacy Policy</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
    